
body p{
    font-family: sans-serif;Times
    font-size: large
    font-style: italic
    color: red
}

.headerbar {
    background: -webkit-gradient(linear, left top, left bottom, from(#0ff), to(#1b9));
    margin: 0px 0px 0px 0px;
    padding: .5em;

}

.headerbar ul li{
    display: inline;
    padding: 1em;
    font-family: monospace
    color: white
    font-weight: bold

}

.sidebar{
    float: left;
    margin: 2em;
    padding: 1em;
    background-color: navy;
}

#links{
    list-style: none;
}

.box {
    float: right;
    margin: 2em;
    padding: 1em;
    text-align: left;
    border: ridge;

}

.undl {
    text-decoration: underline;
}



.but {
    margin-top: .4em;
    margin-bottom: .4em;
    margin-right: 36%;
    margin-left: 36%;
    padding: 2%;
    background-color: gray;
    width: 20%;    
}

.box p em{
    font-weight: bold;
}