
html{
    
}
body{
    background-image: url("images/linen.png");
}

body p{
    font-family: sans-serif;
    font-size: large;
    font-style: italic;
    margin-top: 0px;

}

/*HeaderNavigation bar start------------------ */

.headerbar {
    background: -moz-linear-gradient(top, #0d2, #2c1d0e);
    background: -webkit-gradient(linear, left top, left bottom, from(#0d2), to(#2c1d0e));
    margin: 0em 0em 1em 0em;
    padding: .5em;
    border-radius: 5px;

}

.headerbar ul li{
    display: inline;
    padding: 1em;
    font-family: monospace;
    color: white;
    font-weight: bold
}
/*HeaderNavigation bar end------------------ */

/*Sidebar start------------------*/
.sidebar{
    float: left;
    width: 20%;
    padding: 1%;
    margin: 1%;
    background-color: #7B1;
    border-radius: 5px;
}

#blogs{
 list-style:;

}

#blogs li{
    background-color: #7B1;
    padding: 0px;
    margin:4%;
}

#blogs li a div{
   padding: 1%;
   border-radius: 12px;
   border: dashed thin black;
   font-size: 1.15em;
}

#blogs a:visited{
    text-decoration: none;
    color: blue;
}
/*Sidebar end------------------*/


.box {
    padding: 1%;
    width: 70%;
    float: right;
    text-align: left;
    border: ridge;
}

.links{
    list-style: none;
    margin: .5em;
}

.links li{
    margin: 2%;
    padding: 1%;
    background-color: gray;
    border-radius: 10px;
}

a div{
    background-color: #7B1;
    padding: 1%;
    margin: .15em;
    text-align: center;
    font-size: 1.15em;
}

.hidden{
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

input{
    width: 80px;
}

